
<div class="comment-container">
    <div class="comment-painel">
        <div class="comment-evaluation">
            <button class="increase-btn" (click)="upVote()">
                <button-plus></button-plus>
            </button>
            <span class="vote-counter">{{comment.score}}</span> 
            <button  class="decrease-btn" (click)="downVote()">
                <button-minus></button-minus>
            </button>
        </div>
        <ng-container *ngTemplateOutlet="buttonGroup"></ng-container> 
    </div>
    <div class="comment-info">
        <div class="comment-info-header">
            <div class="comment-info-header-main">
                <img [src]="comment.user.image.png" alt="">
                <span class="username">{{comment.user.username}} <span class="same-user" *ngIf="isCurrentUser">you</span></span>
                <span class="post-date"> {{comment.createdAt}}</span> 
            </div>
            
            
            <ng-container *ngTemplateOutlet="buttonGroup"></ng-container> 
          
        </div>
        <div class="comment-info-content">
            <p *ngIf="!editComment">
                <span class="replyingTo" *ngIf="comment?.replyingTo">@{{comment.replyingTo}} </span>
                {{comment.content}}
            </p>
            <div class="edit-area">
            <textarea *ngIf="editComment" [(ngModel)]="comment.content"></textarea>
            <button *ngIf="editComment" (click)="toggleEdit()" class="primary-button" >UPDATE</button>
            </div>
        </div>
    </div>
</div>



   
<ng-template #buttonGroup>
    <div *ngIf="!isCurrentUser" class="reply-comment">
        <reply-button (click)="toggleReply()"></reply-button>
    </div>
    <div *ngIf="isCurrentUser" class="same-user-painel">
        <span class="outline-button delete" (click)="toggleModal()"> <img src="../../../assets/images/icon-delete.svg">  Delete</span>
        <span class="outline-button edit" (click)="toggleEdit()"> <img src="../../../assets/images/icon-edit.svg"> Edit</span>
    </div>
</ng-template>
<app-reply 
    *ngIf="openReply"
    [isNewMessage]="false"
    [replyTo]="comment.user.username"
    (sendMessage)="addReply($event)"
    (close)="openReply = false"
>
</app-reply>

<dialog-delete *ngIf="openModal"
    (cancel)="toggleModal()"
    (confirm)="delete()"
>

</dialog-delete>
