<p>comments works!</p>

<div style="display: flex; justify-content: center;">
  
<div class="comment-container">
    <div class="comment-evaluation">
        <button>+</button>
         <span>5</span> 
        <button>-</button>
    </div>
    <div class="comment-info">
        <div class="comment-info-header">
            <div class="comment-info-header-main">
                <img src="../../../assets/images/avatars/image-amyrobson.png" alt="">
                <span class="username">maxblang</span>
                <span class="post-date"> 2 weeks ago</span> 
            </div>
            <div>
                <span style="color: blue;">Reply</span>
            </div>
        </div>
        <div class="comment-info-message">
            Impressive! Though it seems the drag feature could be improved. But overall it looks incredible. You've nailed the design and the responsiveness at various breakpoints works really well.
        </div>
    </div>
</div>

</div>
 