@import './styles/theme/variables.less';

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body{
    background-color: hsl(228, 33%, 97%);
    font-size: 16px;
}


.vote-button{
    display: flex;
    margin: 10px 0;
    svg:hover path{
        fill: @moderate-blue;
    }
}
